.list {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: .25rem;
}

.item {
    flex-shrink: 0;
    margin-right: 1.25rem;
    font-size: .75rem;
    line-height: 1rem;
}

.link {
    display: block;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: #94a3b8;
}

.link:hover {
    color: #e6f1ff;
}

.link svg {
    width: 1.5rem;
    height: 1.5rem;
}